[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
structlog = "*"
pydantic = "*"
sqlalchemy-utils = "*"
pytest = "*"
psycopg2-binary = "*"
assertpy = "*"
sqlalchemy = "*"
uvicorn = "*"
python-multipart = "*"
pytz = "*"
pathlib = "*"
passlib = "*"
pyjwt = "*"
requests = "*"
aiohttp = "*"
httpx = "*"
pytest-asyncio = "*"
websockets = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
